.app-container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

.right-side {
    flex: 1;
    padding: 20px;
    overflow: hidden;
}

.data-list-container {
    height: 100%;
    overflow: auto;
}

.divider {
    width: 2px;
    background-color: #ccc; /* Change color as needed */
    margin: 0 10px;
    position: relative;
}


.spacer {
    height: 20px; /* 可以根据需要调整高度 */
}

.dropdown {
    width: 150px; /* 设置下拉框宽度 */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    margin-right: 10px;
}

button {
    margin-left: 10px;
}

/* Add styles for the download button */
.data-count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #45a049;
}

.fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px; /* Adjust this value as needed */
}

/* styles.css */
.search-form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    margin-left: 10px;
}

.add-button {
    margin-top: 10px;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.search-button, .reset-button, .execute-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.search-button:hover, .reset-button:hover, .execute-button:hover {
    opacity: 0.8;
}

.stat-select {
    margin-right: 10px;
    border: 1px solid lightgray;
}

select, input {
    border: 1px solid lightgray;
}

input::placeholder {
    color: lightgray; /* Change this to your desired color */
    opacity: 1;       /* Ensure full opacity for consistency across browsers */
}